* {
    font-family: Overlock;
}

/* Styles body of page */
body {
    background-color:#e6d1ec;
}

/* Styles display */
header {
    background-color: #e2b4e2;
    background-image: linear-gradient(0deg, #e2b4e2 0%, #c6b1ec 19%);
    font-size:30px;
    font-weight: bolder;
    padding: 1%;
    width: 100%;
    text-align: center;
}

/* Link styling */
a {
    display: block;
    padding: 5px 0;
}

/* Styles all buttons */
button {
    margin: 1%;
    width: 100%;
    font-family: Overlock;
}

/* Search history buttons */
.btn-flat {
    text-align: center;
}

/* Search history buttons on hover */
.btn-flat:hover {
    color: purple;
}

/* Styles the input placeholder text */
::placeholder {
    color:grey;
    text-align:center;
    font-family: Overlock;
}

input {
    font-family: Overlock;
    text-align: center;
}

/* Styles container for each brewery card  */
.brewery-container {
    background-color: rgb(188, 214, 241);
    padding: 1% 0 3% 5%;
}

/* Aligns info paragraph so that it is centered */
#info h5 {
    text-align: center;
}

/* Aligns brewery header so it aligns with the brewery container */
#brewery-header {
    margin-left: 26%;
}

/* Styles dog photos so that they are consistently the same size */
#dog-photo {
    height: 100%;
    width: 100%;
    margin-top: 7px;
}

#search-history {
    font-family: Overlock;
}

/* TODO: MAKE RESPONSIVE TO MULTIPLE SCREEN SIZES */