header {
    background-color: rgb(198, 152, 240);
    font-size:30px;
    font-weight: bolder;
    padding: 1% 25% 1% 0;
    text-align: right;
}

body {
    /* background-image: url(./dogssss.jpeg); */
    background-repeat: no-repeat;
    background-size:cover; 
}